<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>468880957394-svombheipatkac670c47slu1cru4b6hn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.468880957394-svombheipatkac670c47slu1cru4b6hn</string>
	<key>API_KEY</key>
	<string>AIzaSyDMA-BUsGl6LFHNYvBd69kmiB9shlFZsqc</string>
	<key>GCM_SENDER_ID</key>
	<string>468880957394</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sumaiyamili.talketalk</string>
	<key>PROJECT_ID</key>
	<string>talketalk-2b064</string>
	<key>STORAGE_BUCKET</key>
	<string>talketalk-2b064.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:468880957394:ios:89b5d56012dd09fa67320b</string>
</dict>
</plist>